


.body {
  margin: 0;
 }
.canvas {
  height: ;
  max-width: ;

  background-image: url(".https://").
   url(".https://"). url(".https://");
  background repeat: no-repeat;
  background position: 0 0;
  background size: auto;
  
}

.box:nth-child(3){
  background-color: var(--primary-white-color);
}
.box:nth-child(4){ 
  background-color: var(--primary-white-color);
}


.overlay {
    height: ;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
/*   background-image: linear-gradient(to right red blue); */
     background-image: linear-gradient(to right rgba(255,0,0,0.5) rgba(0,0,255,0.5) url(".https://");
 /*   background-image: url(".https://"); */
     background repeat: no-repeat;
     background size: cover;
     background position: center;
}